h1{
    color: red;
}


.column{
    float:left;
    width:33.33%;
    padding:5px;
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

p{
    background-color:lightgreen;
    margin: 10px;
    padding: 10px 10px 0px;
}
.table-wrapper{
display: flex;
flex-direction: row;

}
.table-wrapper div{
    flex:1
}
.text-wrapper{
    background-color: lightseagreen;
    display: inline;
}